<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
<!--    <meta name="_csrf" content="${_csrf.token}" />-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--    <meta name="_csrf_header" content="${_csrf.headerName}" />-->
    <script src="../static/axios.min.js"></script>
    <script src="../static/vue.min.js"></script>
</head>
<body>

<div id="app">
    <br>
    <input type="button" value="GET请求" @click="getInfo()">
    <p>{{get_data}}</p>
</div>

<h2>标准登录页面</h2>
<h3>表单登录</h3>
<a href="http://127.0.0.1:8080/api/v1/index">sdsds</img>

<h3>表单登录</h3>
<form action="http://127.0.0.1:8080/authentication/form" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">登录</button>
            </td>
        </tr>
    </table>
</form>

<h3>短信登录</h3>
<form action="http://127.0.0.1:8080/authentication/mobile" method="post">
    <table>
        <tr>
            <td>手机号:</td>
            <td><input type="text" name="mobile" value="13012345678"></td>
        </tr>
        <tr>
            <td>短信验证码:</td>
            <td>
                <input type="text" name="smsCode">
                <a href="http://127.0.0.1:8080/code/sms?mobile=13012345678">发送验证码</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">登录</button>
            </td>
        </tr>
    </table>
</form>


<script>
    const vm = new Vue({
        el: '#app',
        data: {
            get_data: '...',
            post_data: '...',
            count_id: 1
        },
        methods: {
            getInfo() {
                axios({
                    url: 'http://127.0.0.1:8080/api/v1/index'
                }).then(response => {
                    this.get_data = response.data;
                })

            },
        }
    });
</script>
</body>
</html>